<div ng-controller="ShellController as vm">
    <header class="clearfix">
        <ht-top-nav navline="vm.navline"></ht-top-nav>
    </header>
    <section id="content" class="content">
        <div class="container" style="margin-top:100px">
            <div class="row">
                <div class="col-md-12">
                    <div ui-view class="shuffle-animation"></div>
                </div>
            </div>
        </div>

        <div ngplus-overlay
             ngplus-overlay-delay-in="50"
             ngplus-overlay-delay-out="900"
             ngplus-overlay-animation="dissolve-animation">
            <img src="images/busy.gif"/>
            <div class="page-spinner-message overlay-message">{{vm.busyMessage}}</div>
        </div>
    </section>
</div>
