<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h1>Dashboard</h1>
                    <alert ng-repeat="news in vm.news" type="{{news.type}}" close="vm.closeAlert($index)">
                        <strong>News!</strong>
                        <p>{{news.msg}}</p>
                    </alert>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Today's weather</h4>
                        </div>
                        <div class="panel-body">
                            <h4>{{vm.weatherStat.title}}</h4>
                            <strong>{{vm.weatherStat.wind.chill}} {{vm.weatherStat.units.temperature}}</strong>
                            <p>
                                <div class="forecast col-md-2" ng-repeat="fc in vm.weatherStat.item.forecast">
                                    <strong class="label label-primary">{{fc.day}}</strong> {{fc.date}} 
                                    <div class="status">{{fc.text}}</div>
                                    <div class="forecast-low-high">
                                        <span class="low">{{fc.low}} {{vm.weatherStat.units.temperature}}</span>/
                                        <span class="high">{{fc.high}} {{vm.weatherStat.units.temperature}}</span>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>